<div class="page-header">
  <h1>
  The selcted article
</h1>
</div>
<p>
  
<%= link_to "view List of articles", articles_path%>
</p>
<p>
  Title: <%= @article.title %>
</p>
<p>
  
  Description: <%= @article.description %>
</p>
  