$navbar-default-bg: #41464f;



@import "bootstrap-sprockets";
@import "bootstrap";

.page-header>h1 {
  text-align: center;
}


.carousel-inner>.item>img, .carousel-inner>.item>a>img {
display: block;
height: auto;
max-width: 100%;
line-height: 1;
width: 100%; // Add this
}

.jumbotron{
  margin-top: 15px;
  text-align: center;
}

#jumb-cont{
  margin-bottom: 40px
}


.navbar-brand{
  display: block;
  max-width:230px;
  max-height:60px;
  width: auto;
  height: auto;
}

.navbar.navbar-default li a {
    color: white;
}

.navbar.navbar-default


.footer{
  margin-top: 40px;
  margin-bottom: 25px;
  
  bottom:0;
  left:0;
  width: 100%;
}

#foot_p{
 text-align: center;
  width: 100%;
 
}


.navbar-nav > li >a:hover {
  background-color: #070707;
}


.navbar-nav > li > .dropdown-menu { background-color: #41464f; }
.navbar-nav > li > .dropdown-menu li a:hover {
  color: white;
}

.btn-group > .dropdown-menu { background-color: #41464f; }

.btn-group > .dropdown-menu li a:hover{
  background-color: #070707;
}

#nav-btn{
  margin-top: 8px;
}


#right-but{
  margin-top: 8px;
  color: white;
  background-color: transparent;
  border-color: white;
  margin-right: 10px;
}

#right-but:hover{
  margin-top: 8px;
  color: black;
  background-color: white;
  border-color: #53f442;
  margin-right: 10px;
}

.my-std-row{
  margin-top: 10px;
}